

.slider-container1 {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slider1 {
    display: flex;
    transition: transform 0.5s ease;
}

.slide1 {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
}

.slider-container1 .slide1 img {
    max-width: 100%;
    height: auto;
}

.prev-button1, .next-button1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev-button1 {
    left: 10px;
}

.next-button1 {
    right: 10px;
}

.prev-button1:hover, .next-button1:hover {
    background-color: #555;
    color: white
}
